
/*---フォント設定----*/
@font-face {
font-family: "COM4t Nuvu Regular";
src: url("../COM4tNuvu-R_win/COM4NRG_.TTF");
}
@font-face {
  font-family: "はんなり明朝";
  src: url("../Hannari/Hannari.otf");
}
@font-face {
  font-family: "AAARGH";
  src: url("../AAARGH/Aaargh.ttf");
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html{
  min-width: 100px;
  margin: 0 auto;
  background: rgb(50, 48, 48);
  position: relative;
  overflow-y: scroll;
}

body{
	font-family: "はんなり明朝", Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: rgb(50, 48, 48);
  color: #e4ddad;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
}
/*余白なくす*/
.wrap{
  overflow: hidden;
}

/*--画像--*/
img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/*--文章--*/
@media screen and (min-width: 769px){
  p{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 20px;
    text-align: left;
  }
}
@media screen and (max-width: 768px){
  p{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 18px;
    text-align: left;
  }
}
@media screen and (max-width:640px){
  p{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 15px;
    text-align: left;
  }
}
/*---TOPへ---*/
#totop a{
  z-index: 1500;
  position: fixed;
  bottom: 40px;
  right: 10px;
  font-weight: 900;
  color:rgb(31, 30, 30);
  background-color: rgba(125, 125, 125, 0.6);
  border-style: none;
}

/*-----ヘッダ------*/
#pageHead .container {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}

#pageHead .slick-slide {
  text-align: center;
}

#pageHead .headerMenu{
  height: 6%;
   font-size: 85%;
   background: rgb(50, 48, 48);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9999;
}
@media screen and (max-width:640px){
#pageHead .headerMenu{
  height: 4%;
   font-size: 85%;
   background: rgb(50, 48, 48);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9999;
}
}
.headerFixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

#pageHead .globalNavi{
  width: 100%;
}

#pageHead .globalNavi ul{
  text-align: center;
  width: auto;
}

#pageHead .globalNavi ul li{
  display: inline-block;
  width: 16%;
}

#pageHead ul, li{
  margin: 0;
  padding: 0;
  font-size: 1.6vw;
  font-family: "AAARGH";
  list-style: none;
}

@media screen and (max-width:640px){
  #pageHead ul, li{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    font-family: "AAARGH";
    list-style: none;
  }
}

#pageHead li{
  display: inline;

  position: relative;
  z-index: 2;
}
#pageHead li a{
  width: auto;
}

#pageHead .facebook a{
  position: absolute;
  top:2px;
  right: 5px;
  margin: 1px 0px;
  padding: 5px 10px;
  border: none;
}
@media screen and (max-width:640px){
  #pageHead .facebook a{
    position: absolute;
    top:0;
    right: 0;
    margin: 1px 0px;
    padding: 5px 10px;
    border: none;
    width: 20px;
  }
}

#pageHead .HeadVisual{
  position: relative;
  clear: both;
}

#pageHead .HeadVisualtext{
  position: absolute;
  left: 12%;
  bottom: 2%;
  width: 50%;
  height: auto;
  background-color: rgba(125, 125, 125, 0.6);
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pageHead .HeadVisualtext a{
  font-size: 2vw;
  display: block;
  margin: 1px 0px;
  padding: 2px;
  width: 20vw;
  height: 4vw;
  border: 1px solid #e4ddad;
  color: #e4ddad;
  text-decoration: none;
  text-align: center;
}

#pageHead .HeadVisualtext h1{
  font-family: "COM4t Nuvu Regular";
  font-size: 4.5vw;
  padding: 0px;
}

/*-----ボディ------*/
h2, h3, h4{
  margin: 0;
  padding: 3px;
}
h2{
  font-size: 28px;
  font-family: "AAARGH";
}
@media screen and (max-width:640px){
  h2{
    font-size: 20px;
    font-family: "AAARGH";
  }
}

h3{font-size: 23px;}
@media screen and (max-width:640px){
  h3{
    font-size: 15px;
  }
}
h4{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 30px;
  text-align: left;
}
@media screen and (max-width:640px){
  h4{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 20px;
    text-align: left;
  }
}

/*----interested-----*/
#Interested p{
  text-align: center;
}
/*---visited place---*/
#VisitedPlace .subVisual img{
  width: 30%;
  padding: 5px 3px;
}

#VisitedPlace .maintext{
  padding: 3px;
  color: #000000;
  background-color: #ffffff;
}

#VisitedPlace .subtextA{
  padding: 3px;
  color: #fbf4bf;
  background-color: #408579;
}
#VisitedPlace .subtextB{
  padding: 3px;
  color: #000000;
  background-color: rgb(222, 222, 222);
}
/*-----me-----*/


.me-plofile {
  margin-left: auto;
  margin-right: auto;
  width:40%;
  text-align: left;

}

/*#me .me-title{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 40%;
}
#me .me-text{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 30%;
}*/
/*----- 地図-----*/
#Map{
  padding: 3px;
  color: #000000;
  background-color: rgb(222, 222, 222);
}

#ggmap_wrapper {
  max-width: 640px;
  min-width: 280px;
  margin: 20px auto;
  padding: 4px;
  border: 1px solid #CCC;
}

.ggmap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.ggmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*--リンク--*/
a{
  display: block;
  margin: 1px 0px;
  padding: 5px 10px;
  border: 1px solid #e4ddad;
  color: #e4ddad;
  text-decoration: none;
  text-align: center;
}
a:hover{
  background-color: rgba(159, 155, 155,0.5);
}
